.gif {
    height: 1080px;
    width: 1920px;
}
.scare {
    justify-content: center;
    animation: scary 3s;
}

@keyframes scary {
    0% {
        transform: translateY(2000px);
    }
    10% {
        transform: translateY(-2000px);
    }
    13% {
        transform: translateY(1000px);
    }
    30% {
        transform: translateY(200px);
    }
    50% {
        transform: translateX(-2000px);
    }
    80% {
        transform: translateX(2000px);
    }
    85% {
        transform: translateY(-2000px);
    }
    90% {
        transform: translateX(-2000px);
    }
    95% {
        transform: scale(10, 18)
    }
    100% {
        transform: scale(10, 18)
    }
}